@font-face {
    src: url("./assets/fonts/Muli-Bold.woff");
    font-family: Muli-Bold;
}

.header {
    background-image: url(./assets/images/header/main-img.png);
    background-position: center;
    background-size: cover;
    width: 1920px;
    height: 1080px;
}
.header__top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
}
.menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__item {
    margin: 30px;
}
.menu__link {
    font-family: Muli-Bold;
    font-size: 16px;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.logo__link{}
.logo__img{}

.personal{
}
.personal__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.personal__list-item {
    margin: 40px;
}
.personal__link{}
.personal__icon-search{}
.personal__icon-user{}
.personal__cart-count{}

.social{justify-content: flex-end;}
.social__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.social__list-item {
    margin: 10px;
}
.social__link{}
.social__icon{}

.header-content{}
.header__content-inner{}
.btn{
    font-weight: 40px;
    line-height: 20px; 
    color: white;
    border:none;
    border-radius: 35px;
    background: rgb(10,165,102);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.btn--green-b{}

.smoothies{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: 860px;
}
.title{}
.title--orange {}
.text{}
.text--black {
    width: 915px;
}
.text--black{}

.smoothies__features{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 970px;
    height: 400px;
}
.smoothies__boxes{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; */
}
.smoothies__box {
    display: flex;
    flex-direction: row;
}

.about{    
}
.about__benefits {
    height: 800px;
    background-color: #158570;
}
.title{}
.about__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    width: 620px;
    height: 520px;
}
